#goals .wrapper{
    display: flex;
    /* width: 1440px; */
    /* height: 1472px; */
    padding: 60px 60px 40px 70px;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    flex-shrink: 0;
    background: #EDF5EE;
}

#goals .wrapper .goal-main-text{
    color: #0F3D23;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

#goals .wrapper .waste-material{
    display: flex;
    /* width: 1112px;
    height: 292px; */
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex-shrink: 0;
    margin-bottom: 40px;
}

#goals .wrapper .waste-material .waste-items{
    display: flex;
    /* width: 286px;
    height: 292px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    width: 20%;
}
#goals .wrapper .waste-material .waste-img{
    width: 56%;
    height: auto;
    opacity: 0.8;
}
.water-img{
    width: 67%;
    height: auto;
    opacity: 0.8;
}
#goals .wrapper .waste-material .ton-text{
    color: #F3C52A;
    font-family: Lato;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    width: 300px;
    /* opacity: 0.8; */
}

#goals .wrapper .waste-material .about-text{
    color: #417E36;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; /* 57.143% */
    margin: 0;
    width: 334px;
    opacity: 0.8;
}

#goals .wrapper .goal-sub-text{
    color: #9A9A9A;
    /* text-align: center; */
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;

}
#goals .wrapper .content-container{
    display: flex;
    width: 100%;
    /* height: 150px; */
    align-items: center;
    gap: 23.432px;
    flex-shrink: 0;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 23.432px 23.432px; */
    padding-left: 261px;
    padding-right: 89px;
}
#goals .wrapper .content-container .golobal-img{
    width: 150px;
    height: auto;
}

